.details-button {
  position: relative;
  background-color: purple;
  margin-right: 15px;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 1rem;
  & > summary {
    list-style: none;
  }
  &--blue {
    background-color: #3282f7;
  }
  &--green {
    background-color: #68d9a4;
  }
  &--orange {
    background-color: #ed6454;
  }
  &__title {
    position: absolute;
    top: 20px;
    left: 15px;
    & > img {
      height: 10px;
      width: 16px;
      margin-left: 1rem;
    }
    &:focus {
      display: none;
    }
  }
  & ul {
    background-color: red;
  }
  & input {
    background-color: red;
  }
}
