.recipe-card {
  width: 380px;
  height: 364px;
  background-color: #e7e7e7;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  overflow: hidden;

  &__title {
    font-weight: 600;
  }
  &__img {
    height: 178px;
    background-color: #c7bebe;
  }
  &__ingredients-list {
    width: 50%;
  }

  &__ingredient {
    line-height: 14px;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Lato';
  }
  .ingredient {
    font-weight: 700;
  }
  &__instructions {
    margin-left: 1rem;
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 50%;
    font-size: 12px;
    max-height: 96px;
    text-overflow: ellipsis;
  }
  &__duration {
    font-family: 'Lato';
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    min-width: 80px;
    & img {
      height: 15px;
      margin-right: 5px;
    }
  }
  &__body {
    &-header {
      font-size: 18px;
      margin: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &-content {
      margin: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
